<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{actor}}</h1>
    <h1>{{actor.name}}</h1>
    <p>{{actor.real_name}}</p>
    <p>{{actor.biography}}</p>



{% if actor.actor_movies.all %}
    List of movies
    <ul>
    {% for movie in  actor.actor_movies.all %}
        <li><a href="{% url 'detail' movie.id %}">{{movie.title}}</a></li>
        {% endfor %}
     </ul>
{% else %}
            <p>There's no actors added yet</p>
{% endif %}



</body>
</html>