<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List of actors</h1>
    {% if actor_list %}
        <ul>
            {% for actor in actor_list %}
                <!--<li><a href="{g% url 'live:detail' article.id %}">{{ article.title }} </a></li> -->
                <li><a href="{% url 'actor_detail' actor.id %}"> {{ actor.name }}</a> </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No actors are available</p>
    {% endif %}
</body>
</html>